<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid px-0 mb-3">
    <%= link_to root_path, class: "btn menu-btn glassmorph" do %>
      <i class="fa-solid fa-house"></i>
    <% end %>
    <% if current_page?(controller: "/pages", action: "home") %>
      <div class="flex-grow-1 mx-2">
        <%= link_to "Begin", podcasts_path, class: "btn nav-btn nav-btn-lg glassmorph" %>
      </div>
    <% elsif current_page?(controller: "/podcasts", action: "index") %>
      <div class="flex-grow-1 mx-2">
        <%= link_to "Create Dote", new_podcast_path, class: "btn nav-btn nav-btn-lg glassmorph" %>
      </div>
    <% elsif current_page?(new_user_session_path) %>
    <% elsif current_page?(new_user_registration_path) %>
    <% elsif current_page?(new_podcast_path) %>
    <% elsif current_page?(controller: "/podcasts", action: "show") %>
      <div class="flex-grow-1 mx-2">
        <%= link_to "Back", podcasts_path, class: "btn nav-btn nav-btn-lg glassmorph" %>
      </div>
    <% else %>
      <div class="flex-grow-1 mx-2">
        <%= link_to "place", podcasts_path, class: "btn nav-btn glassmorph" %>
      </div>
      <div class="flex-grow-1 me-2">
        <%= link_to "holder", podcasts_path, class: "btn nav-btn glassmorph" %>
      </div>
    <% end %>
    <div class="dropup-center dropup menu">
      <button class="btn menu-btn dropdown-toggle glassmorph" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fas fa-bars"></i>
      </button>
      <ul class="dropdown-menu glassmorph">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to settings_path, class: "nav-link" do %>
              <i class="fa-solid fa-gear"></i>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to destroy_user_session_path, data: {turbo_method: :delete}, class: "nav-link" do %>
              <i class="fa-solid fa-right-from-bracket"></i>
            <% end %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to new_user_session_path, class: "nav-link" do %>
              <i class="fa-solid fa-right-to-bracket"></i>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
