<% if user_signed_in? %>
  <div type='mama-div position-relative' class=''>
    <div class="dropdown d-inline-flex gap-2 ms-2 mt-2 position-absolute top-0 start-0">
      <div class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        <%= image_tag "#{current_user.selected_user_language.language}.png", alt: "#{current_user.selected_user_language.language} Mountain", class: 'flag-icon rounded-4 box-shadow-sm' %>
      </div>
      <ul class="dropdown-menu"> <!-- why is this not a comment -->
        <div class="d-flex">
          <% Podcast::LANGUAGES.each do |language| %>
            <% if current_user.selected_user_language.language != language %>
              <li>
                <%= link_to root_path, class: 'dropdown-item' do %>
                  <%= image_tag "#{language}.png", alt: "#{language} Mountain", class: 'flag-icon rounded-4 box-shadow-sm' %>
                <% end %>
              </li>
            <% end %>
          <% end %>
        </div>
      </ul>
    </div>
  </div>
  <div>
    <h1 class="top-header center"><%= content_for(:title) ? content_for(:title) : "Dotes" %></h1>
  </div>
</div>
<% else %>
  <h1 class="top-header center"><%= content_for(:title) ? content_for(:title) : "Dotes" %></h1>
<% end %>
