<% content_for :title do %>
  Dotes
<% end %>
<div class="window d-flex flex-column justify-content-between">
  <div class="d-flex justify-content-center pt-10 ">
    <%= image_tag 'dotes.svg', class: 'dotes-logo-home top-header' %>
  </div>
  <div class="d-block d-sm-none flex-grow-1 flex-shrink-1" style="max-height: 50px;"></div>
  <!-- This div will only be visible on mobile screens -->
  <div class="d-flex justify-content-center pill-container pb-3">
    <div class="photo-pill pill1" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= asset_url("chad2.jpg") %>)">
    </div>
    <div class="photo-pill pill2" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= asset_url("waman2.jpg") %>)">
    </div>
    <div class="photo-pill pill3" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= asset_url("chad1.png") %>)">
    </div>
    <div class="photo-pill pill4" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= asset_url("waman1.jpg") %>)">
    </div>
  </div>
  <div class="center text-white giga my-6 flex-grow-1 d-flex flex-column justify-content-center">
    <div>Podcasts that evolve with you</div>
  </div>
  <% if user_signed_in? %>
  <% else %>
    <%#= form_for @demo_user, url: user_session_path, :method => "post" do |f| %>
      <div class="m-2">
        <%= form_with model: @demo_user, url: user_session_path, method: :post do |f| %>
          <%= f.text_field :email, readonly: "true", hidden: "true" %>
          <%= f.password_field :password, value: 'demo123', readonly: "true", hidden: "true" %>
          <%= f.submit "Try a demo", class: "btn nav-btn nav-btn-lg glassmorph py-2" %>
        <% end %>
      </div>
    <% end %>
  </div>
