<div class="flip-card-inner" data-controller="flip-card" data-action="click->flip-card#flip">
  <div class="flip-card-front glassmorph window-50 p-3 text-center d-flex flex-column">
    <div class="podcast-subtitle fw-light">Flashcard</div>
    <% if flashcard %>
      <div class="flashcard-prompt align-content-center flex-grow-1">
        <%= flashcard.target_vocab %>
      </div>
      <div class="text-secondary">Flip to see the answer</div>
    <% else %>
      <%= simple_form_for(podcast, url: flashcard_reset_podcast_path(podcast)) do |f| %>
        <%= f.submit "RESET", class: "btn btn-success rounded-pill p-4 mx-2 mt-5" %>
      <% end %>
    <% end %>
  </div>
  <div class="flip-card-back glassmorph window-50 p-5">
    <% if flashcard.nil? %>
      hello from the other side
    <% else %>
      <%= simple_form_for(flashcard, html: { data: { flip_card_target: 'form'}}) do |f| %>
        <div class="fs-1 p-3 text-center">
          <%= flashcard.native_definition %>
        </div>
        <div class="p-3 mt-5 fs-5">
          Did you get it right? 🐴
        </div>
        <button data-flip-card-target="yes" type="button" data-action="click->flip-card#correct" class="btn btn-success rounded-pill p-4 mx-2 mt-5">
          Yes
        </button>
        <button data-flip-card-target="no" type="button" data-action="click->flip-card#correct" class="btn btn-outline-secondary rounded-pill p-4 mx-2 mt-5">
          No
        </button>
      <% end %>
    <% end %>
  </div>
</div>
