<div class="swiper-slide left">
  <div class="d-flex flex-column justify-content-between">
    <div class="podcast-title text-center text-white fw-light fs-3 max-width-450 pt-3">
      <% if podcast.title %>
        <%= podcast.title %> <br>
        Flashcards
      <% else %>
        <%= render "shared/loading_bar" %>
      <% end %>
    </div>
  </div>
  <div class="progress-bar">
    bar showing progress smth/smth
  </div>
  <div class="flip-card window">
    <%= render 'podcasts/flashcard_form', flashcard: flashcard %>
    <p class="overflow-auto fw-light">
      <% if podcast.title %>
        <%= podcast.title %>
      <% else %>
        <%= render "shared/loading_bar" %>
      <% end %>
    </p>
  </div>
  <div class="text-white d-flex window-5 justify-content-end">
    <div class="align-self-center">
      Transcript >>
    </div>
  </div>
</div>
