<div class="swiper-slide left d-flex flex-column">
  <div class="d-flex flex-column justify-content-between">
    <div class="podcast-title text-center text-white fw-light fs-3 max-width-450 pt-1">
      <% if podcast.title %>
        <%= podcast.title %> <br>
      <% else %>
        <%= render "shared/loading_bar" %>
      <% end %>
    </div>
  </div>
  <div class="w-100 px-3">
    <div>
      <%= turbo_stream_from "podcast_#{podcast.id}_progress" %>
      <%= render "flashcards/progress", podcast: podcast %>
    </div>
  </div>
  <div class="flip-card window flex-grow-1">
    <%= render 'podcasts/flashcard_form', flashcard: flashcard, podcast: podcast %>
  </div>
  <div class="text-white d-flex window-5 justify-content-end">
    <button class="btn btn-link text-white text-decoration-none p-0 align-self-center" data-action="click->swiper#next">
      Transcript →
    </button>
  </div>
</div>
