<div class="flip-card-inner" data-controller="flip-card" data-action="click->flip-card#flip">
  <div class="flip-card-front glassmorph window-80 p-5 fs-1 text-center">
    <% if flashcard %>
      <%= flashcard.target_vocab %>
    <% else %>
      <%= simple_form_for(podcast, url: flashcard_reset_podcast_path(podcast)) do |f| %>
        <%= f.submit "RESET", class: "btn btn-primary" %>
      <% end %>
    <% end %>
  </div>
  <div class="flip-card-back glassmorph window-80 p-5">
    <% if flashcard.nil? %>
      hello from the other side
    <% else %>
      <%= simple_form_for(flashcard, html: { data: { flip_card_target: 'form'}}) do |f| %>
        <div class="fs-1 p-3 text-center">
          <%= flashcard.native_definition %>
        </div>
        <div>
          DID YOU GET IT RIGHT?????
        </div>
        <button data-flip-card-target="yes" data-action="click->flip-card#correct">
          YES
        </button>
        <button data-flip-card-target="no">
          NAH
        </button>
      <% end %>
    <% end %>
  </div>
</div>
