<% if podcast.status == 'failed'  %>
  <script type="text/javascript">
    window.location.href="/podcasts/new"  // put your correct path in a string here
  </script>
<% end %>
<div class="swiper w-100 flex-grow-1 pb-3" data-controller="swiper" id="podcast">
  <div class="swiper-wrapper">
    <div class="swiper-slide left">
      <%= render "podcasts/flashcard" %>
    </div>
    <div class="swiper-slide middle">
      <div class="d-flex flex-column justify-content-between">
        <div class="podcast-title text-center text-white fw-light fs-3 max-width-450 pt-3">
          <% if podcast.title %>
            <%= podcast.title %> <br>
            Transcript
          <% else %>
            <%= render "shared/loading_bar" %>
          <% end %>
        </div>
      </div>
      <div class="window-80 glassmorph my-2 p-4">
        <p class="overflow-auto fw-light">
          <% if podcast.transcript %>
            <%= simple_format(podcast.transcript)  %>
          <% else %>
            <%= render "shared/loading_bar" %>
          <% end %>
        </p>
      </div>
      <div class="text-white d-flex window-5 justify-content-between">
        <div class="align-self-center">
          << Flashcards
        </div>
            <div class="align-self-center">
              Details >>
            </div>
          </div>
        </div>
        <div class="swiper-slide right">
          <%= render "details" %>
        </div>
      </div>
    </div>
  </div>
