<div class="swiper w-100 pb-3" data-controller="swiper" id="podcast">
  <div class="swiper-wrapper">
    <div class="swiper-slide left d-flex flex-column">
      <%= render "podcasts/flashcard", podcast: podcast, flashcard: podcast.incomplete_flashcard %>
    </div>
    <div class="swiper-slide middle d-flex flex-column">
      <div class="d-flex flex-column justify-content-between">
        <div class="podcast-title text-center text-white fw-light fs-3 max-width-450 pt-1">
          <% if podcast.title %>
            <%= podcast.title %> <br>
          <% else %>
            <%= render "shared/loading_bar" %>
          <% end %>
        </div>
      </div>
      <div class="window-80 glassmorph my-2 p-4 pt-1 flex-grow-1 overflow-auto fw-light">
        <div class="podcast-subtitle fw-light pt-2">Transcript</div>
        <% if podcast.transcript %>
          <%= simple_format(podcast.transcript) %>
        <% else %>
          <div class="h-75 d-flex align-content-center align-items-center">
            <%= render "shared/loading_bar" %>
          </div>
        <% end %>
      </div>
      <div class="text-white d-flex window-5 justify-content-between">
        <button class="btn btn-link text-white text-decoration-none p-0 align-self-center" data-action="click->swiper#prev">
          ← Flashcards
        </button>
        <button class="btn btn-link text-white text-decoration-none p-0 align-self-center" data-action="click->swiper#next">
          Details →
        </button>
      </div>
    </div>
    <div class="swiper-slide right">
      <%= render "podcasts/details", podcast: podcast %>
    </div>
  </div>
</div>
