<% content_for :title do %>
  Dotes
<% end %>
<div class="window">
  <% @podcasts.each do |podcast| %>
    <div class="podcast-card glassmorph">
      <div class="podcast-card-left">
        <div class="podcast-title">
          <%= podcast.title %>
        </div>
        <div class="fw-lighter">
          <%= podcast.summary %>
        </div>
        <div class="podcast-card-options">
          <div class="podcast-option fw-light">
            <%= podcast.level %>
          </div>
          <div class="podcast-option fw-light">
            <%= podcast.learning_style %>
          </div>
          <div class="podcast-option fw-light">
            <%= podcast.created_at.strftime("%e/%m/%Y") %>
          </div>
        </div>
      </div>
      <div class="podcast-card-right d-flex flex-column align-items-center z-index-2">
        <%= image_tag "profilowe.png", class: "avatar pb-1", alt: podcast.host.first_name %>
        <%= link_to podcast_path(podcast), data: {turbo_method: :delete} do %>
          <i class="fa-regular fa-square-minus"></i>
        <% end %>
      </div>
      <%= link_to "", podcast_path(podcast), class: 'card-link' %>
    </div>
  <% end %>
  <div class="blur"></div>
</div>
