<div class="window">
  <%= form_with url: "/new", model: @podcast do |form| %>
    <%= form.label :suggested_topics %>
    <%= form.select :suggested_topics, @user_language.suggested_topics %>
    <%= form.label :user_prompt %>
    <%= form.text_field :user_prompt %>
    <%= form.label :level %>
    <%= form.select :level, Podcast::LEVELS.values, selected: @level %>
    <%= form.label :learning_style %>
    <%= form.text_field :learning_style, value: current_user.learning_style %>
    <%= form.label :native_language %>
    <%= form.select :native_language, Podcast::LANGUAGES, selected: current_user.native_language %>
    <%= form.label :user_language %>
    <%= form.select :user_language, Podcast::LANGUAGES, selected: @user_language.language %>
    <%= form.submit "Create podcast" %>
  <% end %>
</div>
