<div class="glassmorph window p-4 text-center">
  <%= simple_form_for @podcast, local: true do |form| %>
    <%= form.input :user_prompt,
      label: "Choose one of the crafted topics:",
      collection: @user_language.suggested_topics,
      as: :check_boxes,
      input_html: { class: "tag-selector rounded-pill" },
      item_wrapper_class: 'tag-item' %>
    <%= form.input :user_prompt, label: "Or create your own!", as: :string, input_html: { class: "rounded-pill" }%>
    <%= form.input :level,
      collection: Podcast::LEVELS.values,
      selected: @level,
      as: :radio_buttons,
      collection_wrapper_tag: 'div',
      collection_wrapper_class: 'category-wrapper',
      item_wrapper_class: 'category-item',
      input_html: {class: 'category-selector rounded-pill m-1'},
      collection_wrapper_tag: 'div',
      collection_wrapper_class: 'category-wrapper' %>
    <%= form.input :learning_style, collection: Podcast::LEARNING, as: :select, input_html: { class: "rounded-pill" },
      as: :check_boxes,
      input_html: { class: "tag-selector rounded-pill" },
      item_wrapper_class: 'tag-item' %>
    <%= form.input :native_language, collection: Podcast::LANGUAGES, selected: current_user.native_language, as: :select, input_html: { class: "rounded-pill" },
      as: :check_boxes,
      input_html: { class: "tag-selector rounded-pill" },
      item_wrapper_class: 'tag-item' %>
    <%= form.input :user_language, collection: Podcast::LANGUAGES, selected: @user_language.language, as: :select, input_html: { class: "rounded-pill" },
      as: :check_boxes,
      input_html: { class: "tag-selector rounded-pill" },
      item_wrapper_class: 'tag-item' %>
    <%= form.button :submit, "Create podcast", input_html: { class: "rounded-pill" } %>
  <% end %>
</div>
