<div class="swiper w-100 flex-grow-1 pb-3" data-controller="swiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <div class="window">
        <div class="podcast-card glassmorph">
          <div class="podcast-card-left">
            <div class="podcast-title">
              <%= @podcast.title %>
            </div>
            <div class="fw-lighter">
              <%= @podcast.summary %>
            </div>
            <div class="podcast-card-options">
              <div class="podcast-option fw-light">
                <%= @podcast.level %>
              </div>
              <div class="podcast-option fw-light">
                <%= @podcast.learning_style %>
              </div>
              <div class="podcast-option fw-light">
                <%= @podcast.created_at.strftime("%e/%m/%Y") %>
              </div>
            </div>
          </div>
          <div class="podcast-card-right">
            <div class="mx-1">
              <%= image_tag "profilowe", class: "avatar", alt: @podcast.host.first_name %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="window glassmorph my-2 p-4">
        <p class="overflow-auto">
          <%= @podcast.transcript %>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="">
  <div class="player-div rounded-pill">
    <% if @podcast.audio.attached? %>
      <audio controls class="w-100 player">
        <source src="<%= url_for(@podcast.audio) %>" type="<%= @podcast.audio.content_type %>">
        Your browser does not support the audio element.
      </audio>
    <% else %>
      <p>No audio file attached.</p>
    <% end %>
  </div>
</div>
